@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap');

:root {
    --color-accent: #00bcd4;
    /* neon cyan */
    --color-bg: #0b151f;
    /* deep space navy */
    --color-white: #e0e1dd;
    /* soft white */
    --color-dark: #1b263b;
    /* dark blue-gray */
    --color-black: #000000;
    /* black */
    --color-black-light: #000001;
    /* almost black */
    --color-text-light: #ffffff;
    /* plain white for text */
}

* {
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100%;
    font-size: 16px;
    color: var(--color-accent);
    background-color: #22222b;
    display: flex;
    justify-content: center;
    align-items: center;
}




@keyframes rotate {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.rotating {
    animation: rotate 15s linear infinite;
}

/* whole container */
.container {
    background-color: var(--color-bg);
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 75vh;
    width: 55vw;
    border: 2px solid var(--color-white);
    border-radius: 10px;
}

/* song list */
.songList {
    background-color: #000;
    width: 50%;
    display: flex;
    padding: 2px;
    flex-direction: column;
    align-items: center;
    border-radius: 0.5rem;
    overflow-y: auto;
}

.songList::-webkit-scrollbar {
    display: none;
}

.songList ul {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
}

.songList ul li {
    list-style: none;
    padding: 0.3rem;
    width: 98%;
    height: 4rem;
    /* border-radius: 15px; */
    background-color: var(--color-bg);
    color: rgb(0, 0, 0);
    overflow: hidden;
    white-space: nowrap;
    border-bottom: 1px solid rgb(0, 0, 0);
    font-family: 'Courier New', Courier, monospace;
    cursor: pointer;
}

.songList ul li:hover {
    background-color: #000001;
}

.songList ul li h5 {
    margin-left: 10px;
    margin-top: 10px;
    text-align: center;
    font-size: 1.4rem;
    color: var(--color-accent);
}

.songList ul li h6 {
    text-align: center;
    font-size: 1rem;
    font-weight: 300;
    color: var(--color-accent);
    margin-top: 5px;
}

/* player panel */
.player {
    width: 50%;
    height: auto;
    flex-wrap: wrap;
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.card {
    height: 80%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    background-color: var(--color-bg);
    text-align: center;
}

.card h2 {
    font-family: poppins, orbitron, sans-serif;
    color: #fff;
    padding: 10px;
    font-size: 1.8em;
    font-weight: bold;
}

.card img {
    width: 10rem;
    border-radius: 50%;
    border: 4px solid var(--color-white);
    margin-top: 20px;
}

.card h4 {
    font-size: 2rem;
    font-family: 'Courier New', Courier, monospace;
    color: #fff;
    font-weight: bolder;
    padding-top: 5px;
    margin-top: 15px;
}

.card p {
    font-family: 'Lucida Sans', sans-serif;
    font-weight: lighter;
    font-size: 0.8rem;
    margin-top: 5px;
    color: var(--color-white);
}

/* controls */
.control {
    background-color: var(--color-bg);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.control i {
    height: 3rem;
    width: 3rem;
    margin: 20px 20px 10px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    color: var(--color-accent);
    background: var(--color-white);
    border-radius: 50%;
    box-shadow: 0 10px 20px rgba(255, 26, 26, 0.22);
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
}

.control i:hover {
    transform: scale(1.2);
}

.control i:nth-child(2) {
    transform: scale(1.5);
    background: var(--color-accent);
    color: var(--color-white);
}

.control i:nth-child(2):hover {
    transform: scale(1.6);
}

/* responsive styles */
@media only screen and (max-width: 900px) {
    body {
        padding: 10px;
        width: 90vw;
    }

    .container {
        flex-direction: column;
        width: 100vw;
        height: 100vh;
        border: none;

    }

    .songList,
    .player {
        width: 95vw;

    }

    .songList ul li {
        width: 100vw;
        margin: 1px auto;
        padding: 10px;
        height: auto;
        font-size: 0.9rem;
        white-space: normal;
        word-break: break-word;
        background-color: var(--color-bg);
        border-radius: 10px;
        overflow: hidden;
        border-bottom: 1px solid var(--color-bg);
        color: var(--color-black);
    }

    .card {
        height: 80%;
        width: 100%;
        background-color: var(--color-bg);
        text-align: center;


        .card img {
            width: 5rem;
        }

        .control {
            font-size: 3rem;
            justify-content: center;
        }

        .control i {
            margin: 10px;
        }
    }
}